<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Crianças</title>
    <link rel="stylesheet" href="../../static/css/main_styles.css">
    <link rel="stylesheet" href="../../static/css/sidebar_styles.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bx-globe' id="adra_globe"></i>
            <div class="logo_name">ADRA</div>
        </div>
        <i class='bx bx-x' id="close_btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="admin.html">
                <i class='bx bxs-institution'></i>
                <span class="links_name">ONG</span>
            </a>
            <span class="tooltip">ONG</span>
        </li>
        <li>
            <a href="calendar.html">
                <i class='bx bx-calendar'></i>
                <span class="links_name">Calendário</span>
            </a>
            <span class="tooltip">Calendário</span>
        </li>
        <li>
            <a href="pessoas/pessoas.html">
                <i class='bx bxs-user'></i>
                <span class="links_name">Pessoas</span>
            </a>
            <span class="tooltip">Pessoas</span>
        </li>
        <li>
            <a href="financeiro.html">
                <i class='bx bx-dollar-circle'></i>
                <span class="links_name">Financeiro</span>
            </a>
            <span class="tooltip">Financeiro</span>
        </li>
        <li>
            <a href="projetos.html">
                <i class='bx bx-spreadsheet'></i>
                <span class="links_name">Projetos</span>
            </a>
            <span class="tooltip">Projetos</span>
        </li>
        <li>
            <a href="config.html">
                <i class='bx bx-cog'></i>
                <span class="links_name">Configurações</span>
            </a>
            <span class="tooltip">Configurações</span>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="../../static/images/profilepicture.jpg" alt="Profile Picture"/>
                <div class="usuario_cargo">
                    <div class="usuario">Nome Usuário</div>
                    <div class="cargo">Cargo Usuário</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </div>
    </div>
</div>
<div class="content">
    <h1>Lista de Crianças</h1>
    <label for="entries">Exibir:</label>
    <select id="entries" onchange="loadCriancas()">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sexo</th>
        </tr>
        </thead>
        <tbody id="criancas-list">
        <!-- Conteúdo será preenchido dinamicamente -->
        </tbody>
    </table>
</div>
<script src="../../static/js/sidebar_script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../static/js/pess_criancas_script.js"></script>
</body>
</html>