/* CORES */
:root {
    --cor-principal: #ffffff;
    --cor-tema1: #007b5e;
    --cor-tema-claro:#0f9979;
    --cor-destaque1: #f47722;
    --cor-escura1: #54585a;
    --cor-escura2: #000000;
}

/* MAIN */


/* -- SIDEBAR -- */
.topbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: calc(100% - 70px);
    height: 100px;
    left: 70px;
    background-color: var(--cor-destaque1);
    padding: 10px 20px;
    transition: all 0.5s ease;
}

.topbar_title {
    font-size: 35px;
    font-weight: bold;
}

.topbar_tabs {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
}

.topbar_tabs .tab {
    text-align: center;
    font-size: 18px;
    font-weight: 555;
    padding: 5px 5px;
    max-width: 250px;
    min-width: 220px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.topbar_tabs .tab:hover {
    color: var(--cor-destaque1); !important;
    background-color: var(--cor-principal); !important;
}