<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bx-globe'></i>
                <div class="logo_name">ADRA</div>
            </div>
            <i class='bx bx-menu' id="menu_btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class='bx bx-home-heart'></i>
                    <span class="links_name">ONG</span>
                </a>
                <span class="tooltip">ONG</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-calendar'></i>
                    <span class="links_name">Calendário</span>
                </a>
                <span class="tooltip">Calendário</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-user'></i>
                    <span class="links_name">Pessoas</span>
                </a>
                <span class="tooltip">Pessoas</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-dollar-circle'></i>
                    <span class="links_name">Financeiro</span>
                </a>
                <span class="tooltip">Financeiro</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-spreadsheet'></i>
                    <span class="links_name">Projetos</span>
                </a>
                <span class="tooltip">Projetos</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Configurações</span>
                </a>
                <span class="tooltip">Configurações</span>
            </li>
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="../static/images/profilepicture.jpg" alt="Profile Picture"/>
                    <div class="usuario_cargo">
                        <div class="usuario">Nome Usuário</div>
                        <div class="cargo">Cargo Usuário</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </div>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>